*{
    margin: 0;
    padding: 0;
}
.pin>svg{
    margin-right: 1vh;
}
body{
    background-image: url(bg-image.jpg);
    background-attachment: fixed;
}
.nav{
    font-size: 2vh;
    color: white  ;
    background-color: rgb(0, 0, 67);
    display: flex;
    height: 5vh;
    width: 100vw;
}
.pin{
    padding-top: 1vh;
    padding-right: 2vh;
    padding-left: 10vh;
    font-family:  "Open Sans", sans-serif;
}
.email{
    padding-top: 1vh;
    font-family: "Open Sans", sans-serif;
}
.email>svg{
    padding-right: 1vh;
    padding-left: 2vh;
}
.ikons{
    padding-top: 1.4vh;
    padding-left: 57vw;
}
.ikons>svg{
    padding-left: 1vh;
}
nav{
    background-color: white;
    display: flex;
    height: 12vh;
}
nav>.button{
    height: 100%;
}
nav>.button>button{
    font-size: 2vh;
    border: none;
    height: 100%;
    width: 5vw;
    background: none;
}
nav>.button>button:hover{
    color: rgb(0, 119, 255);
}
nav>.button>button:focus{
    color: rgb(0, 119, 255);
}
.button{
    padding-left: 25vw;
}
nav>.IK{
    padding-top: 3vh;
    padding-left: 3vw;
    display: flex;
}
nav>.IK>i{
    font-size: 5vh;
    color: rgb(0, 119, 255);
}
nav>.IK>H1{
    font-size: 5vh;
    font-family: "Jost", sans-serif;
    color: rgb(0, 119, 255);
}
.BT1{
    padding-top: 3vh;
    padding-left: 20vw;
}
.BT{
    border: none;
    background-color: rgb(42, 142, 255);
    color: white;
    width: 7vw;
    height: 6vh;
    z-index: 1;
}
.BT:hover{
    background-color: rgb(0, 119, 255);
}
.BT2{
    position: absolute;
    background-color:rgb(0, 119, 255);
    width: 7vw;
    height: 6vh;
    z-index: -1;
}
.BT:focus + .BT2{
    width: 7.5vw;
    height: 6.5vh;
    background-color: rgba(0, 0, 255, 0.427);
    z-index: 0;
}
.nav_min{
    display: none;
    height: 20vh;
    background-color:transparent;
    position: absolute;
    display: block;
    width: 10vw;
}
.nav_min{
    position: absolute;
    left: 53vw;
    top:17.4vh;
    display: none;
}
.nav_min>button{
    font-size: 2vh;
    background: white;
    border: none;
    width: 100%;
    height: 25%;
}
nav>.button>button:nth-child(4):hover + .nav_min ,nav>.button>button:nth-child(4):focus + .nav_min {
    display: block !important;
}
.nav_min>button:hover{
    background-color: rgb(196, 196, 196);
}
main{
    background:scroll;
    /* position: absolute; */
    z-index: 0;
    background-image: url("header.jpg");
    background-size: cover;
    width: 100vw;
    height: 92vh;
}
.main{
    padding-top:25vh ;
    text-align: center;
    /* position: absolute; */
    background-color: rgba(0, 132, 255, 0.856);
    z-index: 2;
    height: 73%;
}
.min_main>H1:nth-child(1)>b{

    font-size: 5.5vh;
    color: white;
    font-family: "Jost", sans-serif;
}
.min_main>h1:nth-child(2)>b{
    font-family: "Jost", sans-serif;
    color: white;
    font-size: 12vh;
}
.min_main>h1{
    margin-top: 2vh;
}
.main>.div>input{
    border: none !important;
    width: 20vw;
    height: 7vh;
}
.main>.div>input:focus,.main>.div>input:active{
    border: none !important;
    outline: none;
}
.main-search{
    text-align: center;
    padding: 8vh 40vh 0vw 30vw;
    overflow: hidden;
    height: 8vh;
    display: flex;
    width: 40vw;
}
.main-search>.Menu{
    display: none;
}
.main-search>button.Course,.main-search>div.BUTTON1{
    width: 20%;
    height: 100%;
}
.main-search>div.BUTTON1{

    width: 10vw;
    padding-top: 2.5vh;
    color: white;
    font-family: "Jost", sans-serif;
    text-align: center;
    background-color: rgb(255, 89, 89);
}
.main-search>div.BUTTON1:hover{
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
}
.main-search>form{
    width: 60%;
    height: 100%;
}
.main-search>form>input{
    padding-left: 2vw;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
.Courses{

    height: 105%;
    border: none;
    background-color:white;
    width: 20%;
    border-right: 1px solid rgb(165, 165, 165);
    font-family:"Jost", sans-serif ;
}
.Courses:focus + .Menu{
    display: block;
}
.Menu{
    top:82.5vh;
    position: absolute;
    display: none;
    width: 10vw;
    height: 15vh;
    background-color: white;
}
.Menu>button{
    display: block;
    width: 100%;
    height: 33.3%;
    background-color: white;
    border: none;
}
.Menu>button:hover{
    background-color: rgb(228, 228, 228);
}
/* .main>.div>.BUTTON1>.button{
    position: absolute;
    padding: 0 !important;
    color: white;
    border: none;
    background-color: rgb(255, 63, 63);
    height: 7.2vh !important;
    width: 8vw !important;
    margin: 0;

}
.main>.div>.BUTTON1>.button:hover{
    background-color:rgb(255, 0, 0);
}
.BUTTON1{
    position: absolute;
    padding-left: 20vw;
    padding-top: -8vh;
}
.Courses{
    border: none;
    position: absolute;
    background-color: white;
    height: 7.2vh;
    width: 8vw;
    font-family:"Jost", sans-serif ;
}

.div{
    padding-left: 35vw;
    position: absolute;
}
.div>.Menu>button{
    display: block;
    width: 100%;
    height: 33.3%;
    background-color: white;
    border: none;
}
.div>.Menu>button:hover{
    background-color: rgb(228, 228, 228);
}
.Courses:focus + .Menu{
    display: block;
}
.div>button{
    
} */
.jrt{
    position: absolute;
    border: none !important;
    z-index: 1;
    top: 98vh;
    background-image: url(overlay-bottom.png);
    width: 100%;
    height: 13vh;
}
.nav>b{
    font-size: 3vh;
}
.main1{
    background-color: white;
    border: 1px solid;
    height: 115vh;
}
.main1>img{
    padding-left: 12vw;
    padding-top: 9vw;
    border: none;
    object-fit: cover;
    width: 29vw;
    height: 69vh;
}
.main1>h6{
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    position: absolute;
    height: fit-content;
    width: fit-content;
    color: red;
    border-bottom:1px dashed red ;
    
}
.main1>h1{
    padding-left: 20vh;
    position: absolute;
    width: 40vw;
    text-align: left;
    font-family:  "Jost", sans-serif;
    font-size: 7vh;
}
.main1>p{
    position: absolute;
    /* top: 20vh; */
    left: 20vw;
    font-size: 2.7vh;
    color: rgb(116, 116, 116);
    font-family:"Jost", sans-serif ;
    width: 40vw;
}
.blocks{
    position: absolute;
    padding-left: 45vw;
    padding-top: 0vw;
    display: flex;
}
.blocks>div{
    text-align: center;
    font-size: 2.5vh;
    font-family: "Jost", sans-serif;
    color: white;
    width: 10vw;
    height: 20vh;
}
.blocks>div>h1,p{
}
.blocks>div:nth-child(1){

    background-color: rgb(0, 160, 0);
}
.blocks>div:nth-child(2){

    background-color:rgb(26, 26, 255);
}
.blocks>div:nth-child(3){

    background-color: rgb(255, 58, 58);
}
.blocks>div:nth-child(4){

    background-color: rgb(255, 204, 0);
}
.main1{
    border: none;
}
.main2{
    background-color: inherit;
    width: 100vw;
    height: 100vh;
}
.main2>img{
    height: 100vh;
}
.main2>h6{
    font-family: "Jost", sans-serif;
    color: red;
    width: fit-content;
    font-size: 2.5vh;
    border-bottom: 1px dashed red;
}
.main2>h1{
    font-size: 7vh;
    width: 40vw;
    display: flex;
    font-family: "Jost", sans-serif;
}
.main2>p{
    font-size: 2.3vh;
    margin-left: 14vw;
    width: 40vw;
    font-family: "Jost", sans-serif;
    color: rgb(94, 94, 94);
}
.divs div{
    padding-top: 2.5vh;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    color: white;
    width: 5vw;
    height: 7vh;
}
.divs{
    margin-top: -10vh;
}
.divs>.o1>div{
    background-color:#2878EB;
}
.divs>.o2>div{
    background-color:#F14D5D;
}
.divs>.o3>div{
    background-color: #ffc107;
}
/* *{
    border: 1px solid rgb(0, 255, 149) !important;
} */